<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />
    <script src='bundle.js'></script>
  </head>
  <body>
    <div id="panel">
      <span id="target1" class="target" data-info="Information for target1">
        target 1
      </span>
      <span id="target2" class="target" data-info="Information for target2">
        target 2
      </span>
      <div id="target3" class="target" data-info="Information for target3">
        target 3
      </div>
    </div>

    <div class="tooltip" id="init-tooltip">
      Tooltip info goes here
    </div>

    <div id="event-list">
    </div>
  </body>
</html>